/*css test*/

h1 {

    background-color: rosybrown;

}

.tvColor

{
    color: darkolivegreen;

}

.tvColor1

{
    color: darkblue;

}

.tvColor2

{
    color: maroon;
}



/*den*/


/*#television-start {*/
/*    color: blue;*/
/*}*/
/*#television-sold {*/
/*    color: green;*/
/*}*/
/*#television-over {*/
/*    color: red;*/
/*}*/